<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{{STATIC_URL}}css/grid.css" type="text/css" media="screen">   
    <script src="{{STATIC_URL}}js/jquery-1.6.3.min.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/cufon-yui.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/cufon-replace.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/Kozuka_Gothic_Pro_OpenType_300.font.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/Kozuka_Gothic_Pro_OpenType_700.font.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/Kozuka_Gothic_Pro_OpenType_900.font.js" type="text/javascript"></script> 
    <script src="{{STATIC_URL}}js/FF-cash.js" type="text/javascript"></script>     
    <script src="{{STATIC_URL}}js/easyTooltip.js" type="text/javascript"></script> 
    <script src="{{STATIC_URL}}js/script.js" type="text/javascript"></script>
	<!--[if lt IE 7]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
        	<img src="{{STATIC_URL}}http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
	<![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="{{STATIC_URL}}js/html5.js"></script>
        <link rel="stylesheet" href="{{STATIC_URL}}css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body id="page3">
	<!--==============================header=================================-->
    <header>
    	<div class="main">
        	<div class="prev-indent-bot2">
                <h1><a href="/">ThoughtXplore</a></h1>
                <nav>
                    <ul class="menu">

                        <li><a href="http://uiet.puchd.ac.in/">UIET</a></li>
                        <li><a href="http://puchd.ac.in/">Panjab University</a></li>
                        <li><a href="contacts">Contact Us</a></li>
                        <li><a href="/user/register">Register</a></li>
                        <li><a href="/user/login">Login</a></li>
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
        </div>

        <div class="slider-wrapper">
        	<div class="slider">
            	<div class="banner">
                    <strong>Prof. Renu Vig </strong>
                    <em> Director, UIET Panjab University, Chandigarh</em>
                </div>
            </div>
        </div>
    </header>
    
	<!--==============================content================================-->
    <section id="content"><div class="ic"><div class="inner_copy"></div></div>
        <div class="main">
            <div class="container_12">
                <div class="wrapper p2">
                    <article class="grid_12">
                   	<h3>Note From The Director</h3>
                        <p class="indent-bot">I 
am happy to take this opportunity to introduce you to the University Institute of 
Engineering and Technology (UIET), an in-campus Engineering Institute situated in 
the heart of Panjab University, Chandigarh. 
Since its establishment, UIET has come a long way and is geared towards a rapid growth. 
This is possible because of highly competitive students which are selected through an 
all India entrance test, research oriented faculty and an infrastructure that is most 
suited towards learning.
Apart from focusing on academics, the institute also lays emphasis on soft skills of 
students to prepare them for the professional world. Networking with leading 
organizations and institutes has benefitted the institute hugely in orienting students to 
R&D activities as per the requirements of industry. 
Corporate sector has been very forthcoming in assessing UIET students. As a result 
majority of our students are placed through campus placements. 
I strongly feel that the industry can benefit from the tremendous potential that UIET 
has and can further collaborate in creating an industry-academic interface.
I extend an invitation to the corporate sector to participate in the Campus Recruitment 
Program of UIET.</p>
                        
<div class="aligncenter text-2">
 <strong>Prof Renu Vig</strong>
 <p class="p0 color-1">Director, UIET</p>
</div>
                                
                            
                            
                        </div>
                    </article>
                </div>
            
                    </article>
                </div>
            </div>
        </div>
    </section>
    
	<!--==============================footer=================================-->
<footer>
        <div class="main">
        	<div class="container_12">
            	<div class="wrapper">
                	<article class="grid_3">
                    	<ul class="list-services">
                        	<li class="item-1"><a class="tooltips" title="facebook" href="https://www.facebook.com/uiet.puchd"></a></li>
                            <li class="item-2"><a class="tooltips" title="twiiter" href="http://www.twitter.com/uietchd"></a></li>
                            <li class="item-3"><a class="tooltips" title="UIET" href="http://www.uiet.puchd.ac.in"></a></li>
                            <li class="item-4"><a class="tooltips" title="youtube" href="http://www.youtube.com/uietchd"></a></li>
                        </ul>
                    </article>
                    <article class="grid_3">
                    	<div class="indent-left2">
                            <h5>Navigation</h5>
                            <ul class="list-1">
                                <li><a href="">Home</a></li>
                                <li><a href="/user/register">Register</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="http://bit.ly/uietbrochure">Placement Brochure</a></li>
                                <li><a href="/contacts">Contacts</a></li>
                        		<li><a href="/comm/notice/view/4089/0">Notices</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="grid_3">
                    	<h5>Contact</h5>
                        <dl class="contact">
                            <dt>Room No: 205, Block-1, UIET, South Campus, Sector-25<br>Panjab University, Chandigarh-160025</dt>
                            <dd><span>Phone:</span>  0172-2784983</dd>
                            <dd><span>email:</span>  uiet@pu.ac.in</dd>
                         </dl>
                    </article>
                    
                </div>
            </div>
        </div>
    </footer>
	<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
