{% extends "master1.html" %}
{% block title %}{{ title }}{% endblock%}
{% block master_content_center %}

	<!-- empty line  -->
		<div class="w648 h30 mb4"></div>
   <!--  =============================== -->
   <!-- ====== ###### TITLE ######## === -->
    <!--  =============================== -->
		<div class="w648 border_bottom h45 mb4 center">
				<div style="font-size: 35px;">
                      Edit States
                </div>
		</div>
		<!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
		
	<!--  =============================== -->
   <!-- ====== ###### MESSAGE LIST ######## === -->
    <!--  =============================== -->
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div class="w648 border_bottom h30 mb4 font_color_red">
						{{ msg }}
                </div>
			{% endfor %}
		{% endif %}
		
	<!--  =============================== -->
   <!-- ====== ###### CONTENT ######## === -->
    <!--  =============================== -->
    <!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
    <!--  ========= make state ====================== -->
    <div id="EditState_Create" {% if visible_create == "true" %} class="visible_true" {% else %} class="visible_false" {% endif %}>
	    <form  action="#" method="post">
			{% csrf_token %}
				  <div class="w648 border_bottom h30 mb4">
	                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
	                          New State Name
	                     </div>
	                     <div class="w300 hinherit float_left">
	                             <input id="EditState_Create_Name" name="EditState_Create_Name" type="text" class="tb1" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" />
	                     </div>
	                     <div class="w170 hinherit float_left"></div>
	                </div>
	     	<!--  desc  -->
	               <div class="w648 border_bottom h100 mb4">
	                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
	                           State Desc
	                     </div>
	                     <div class="w300 h100 float_left">
	                             <textarea id="EditState_Create_Desc" name="EditState_Create_Desc"  class="tb1 h75" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" ></textarea>
	                     </div>
	                     <div class="w170 h30 float_left"></div>
	                </div>
	      	<!--  submit -->
	      			<div class="w648 border_bottom h30 mb4 center" >
	                     <input type="submit" value="CREATE STATE" class="center"/>
	                </div>
			</form>
		</div>
		
     <!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
    <!--  ========= edit state ===================== -->
     <div id="EditState_Edit" {% if visible_edit == "true" %} class="visible_true" {% else %} class="visible_false" {% endif %}>
	    <form  action="#" method="post">
			{% csrf_token %}
				  <div class="w648 border_bottom h30 mb4">
	                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
	                           State Name
	                     </div>
	                     <div class="w300 hinherit float_left">
	                             <input id="EditState_Edit_Name" name="EditState_Edit_Name" type="text" class="tb1" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" />
	                     </div>
	                     <div class="w170 hinherit float_left"></div>
	                </div>
	     	<!--  desc  -->
	               <div class="w648 border_bottom h100 mb4">
	                     <div class="w150 float_left h30 pl10 pr10 txt_align_right">
	                           State Desc
	                     </div>
	                     <div class="w300 h75 float_left">
	                             <textarea id="EditState_Edit_Desc" name="EditState_Edit_Desc"  class="tb1 h75" onfocus="on_focus(this.id)" onblur="on_blur(this.id)" ></textarea>
	                     </div>
	                     <div class="w170 h30 float_left"></div>
	                </div>
	      	<!--  submit -->
	      			<div class="w648 border_bottom h30 mb4 center" >
	                     <input type="submit" value="EDIT STATE" class="center"/>
	                </div>
			</form>
		</div>
    
     <!-- empty line  -->
		<div class="w648 border_bottom h30 mb4"></div>
    <!--  ========= list state ===================== -->
     <div id="EditState_list" {% if visible_list == "true" %} class="visible_true" {% else %} class="visible_false" {% endif %}>
				<table id="hor-minimalist-a" class="tableclass" summary="Employee Pay Sheet">
				    <thead>
				    	<tr>
				        	<th scope="col" style="width:25px;">Sr.</th>
				            <th scope="col" style="width:180px;">Name</th>
				            <th scope="col" style="width:250px;">Desc</th>
				            {% if can_edit == "true" %}
				            <th scope="col" style="width:60px;">Edit</th>
				            {% endif %}
				        </tr>
		    		</thead>
		    	    <tbody>
					{% if statelist|length %}
						{% for state in statelist %}
							<tr>
								<td>{{ forloop.counter }}</td>
						        <td>{{ state.StateName }}</td>
						        <td>{{ state.StateDescription }}</td>
						        {% if can_edit == "true" %}
						        <td><a href="#"><input type="button" value="Edit" /></a></td>
						         {% endif %}
						    </tr>
						{% endfor %}
					{% else %}
						<h1> there are no items </h1>
					{% endif %}
					
				    </tbody>
				</table>
		</div>
    
  
{% endblock %}

