{% extends "master1.html" %}
{% block title %}ERROR{% endblock%}
{% block master_content_center %}
		<!-- empty line  -->
		<div style="width:550px;border-bottom:1px solid #cccccc;height:15px;margin-bottom:4px;"></div>
		<!-- title -->
		<div style="width:550px;border-bottom:1px solid #cccccc;height:45px;margin-bottom:4px;">
				<div style="font-size: 35px;">
                        ERROR !! 
                </div>
		</div>
		<!-- empty line  -->
		<div style="width:550px;border-bottom:1px solid #cccccc;height:30px;margin-bottom:4px;"></div>
		
		{% if msglist|length > 0 %}
			{% for msg in msglist %}
				<div style="width:550px;border-bottom:1px solid #cccccc;height:30px;margin-bottom:4px;">
					<div style="color:red;">
						{{ msg }}
					</div>
                </div>
			{% endfor %}
		{% endif %}
		
		<!-- empty line  -->
		<div style="width:550px;border-bottom:1px solid #cccccc;height:30px;margin-bottom:4px;"></div>
{% endblock %}

